<div layout="row">
  <div layout-md="column" flex="33"></div>
  <div layout="column" flex="33">
    <div class="mainImage">
      <img class="imgMain" src="views/images/olive.png" alt="olive">
    </div>
    <h2>Register to preserve and expand your culinary traditions.</h>
    <h3 ng-if="message != ''">{{message}}</h3>
    <form form name="registerView" ng-submit="registerUser()">
      <md-input-container layout="column">
        <div>
          <label for="name">Full Name:</label>
          <input type="text" ng-model="user.name" required/>
          <div ng-messages="registerView.user.name.$error">
            <div ng-message="required">A name is required!</div>
          </div>
        </div>
      </md-input-container>
      <md-input-container layout="column">
        <div>
          <label for="email">Email:</label>
          <input type="text" ng-model="user.email" required/>
          <div ng-messages="registerView.user.email.$error">
            <div ng-message="required">An email address is required!</div>
          </div>
        </div>
      </md-input-container>
      <md-input-container layout="column">
        <div>
          <label for="username">Username:</label>
          <input type="text" ng-model="user.username" required/>
          <div ng-messages="registerView.user.username.$error">
            <div ng-message="required">A username is required!</div>
          </div>
        </div>
      </md-input-container>
      <md-input-container layout="column">
        <div>
          <label for="password">Password:</label>
          <input type="password" ng-model="user.password" required/>
          <div ng-messages="registerView.user.password.$error">
            <div ng-message="required">A password is required!</div>
          </div>
        </div>
      </md-input-container>
      <md-input-container layout="row" layout-align="center center">
        <div>
          <!-- <input class="btn btn-default" type="submit" name="submit" value="Register" /> -->
          <md-button class="md-raised" type="submit" name="submit" aria-label="Register" value="Register">Register</md-button>
          <a href="#home">Cancel</a>
        </div>
      </md-input-container>
    </form>
  </div>
</div>
