<div ng-include="'views/partials/nav.html'"></div>

<!-- MENU OPTION FOR THIS VIEW IS ADD USERS TO GROUP -->
<div>
  <md-menu-bar>
    <md-content>
      <button class="md-raised" aria-label="Add Users" value="Add Users" ng-show="(group.user_admin === userObject.userName)" ng-click="makeAddUsersVisible()">Add Users</button>
    </md-content>
  </md-menu-bar>
</div>

<div layout="row">
  <div layout-md="column" flex="10"></div>
  <div layout="column" flex="80">
    <div layout="row">
      <md-content class="searchAutocomplete" ng-show="visible" layout-padding layout="column">
        <form ng-submit="$event.preventDefault()">
          <md-autocomplete
              ng-disabled="false"
              md-no-cache="noCache"
              md-selected-item="selectedItem"
              md-search-text-change="searchTextChange(searchText)"
              md-search-text="searchText"
              md-selected-item-change="selectedItemChange(item)"
              md-items="item in userSearch(searchText)"
              md-item-text="item.name"
              md-min-length="0"
              placeholder="Select a user"
              md-menu-class="autocomplete-custom-template">
            <md-item-template>
              <span class="item-title">
                <span><strong>{{item.username}}</strong></span>
              </span>
              <span>
                <span>{{item.name}}  </span>
                <span>{{item.email}}</span>
              </span>
            </md-item-template>
          </md-autocomplete>
        </form>
      </md-content>
      <md-button class="md-icon" ng-show="addVisible" aria-label="Add" value="Add" ng-click="addUserToGroup()">+</md-button>
    </div>

    <!-- GROUP NAME -->
    <h1>{{group.group_name}} </h1>

    <!-- USERS LIST -->
    <span>USERS </span>

    <md-chips ng-model="group.users" readonly="true" md-removable="(group.user_admin === userObject.userName)"></md-chips>

    <!-- SUBMIT AND CANCEL BUTTONS -->
    <md-input-container layout="column">
      <div>
        <md-button class="md-raised" aria-label="Cancel" value="Cancel" ng-show="(group.user_admin === userObject.userName)" ng-click="redirect('/grouplist')">Cancel</md-button>
        <md-button class="md-raised" aria-label="Save Group" value="Save Group" ng-show="(group.user_admin === userObject.userName)" ng-click="update()">Save Group</md-button>
      </div>
    </md-input-container>
  </div>
</div>
