.navBar {
  background-color: whitesmoke;
  font-weight: lighter;
}

.recipeBox {
  width: 300px;
  font-size: 12px;
}

.groupBox {
  width: 600px;
  font-size: 12px;
}

span:focus {
  outline: none;
  border: 0;
 }

button:focus {
  outline: none;
  border: 0;
}

h1 {
  font-weight: 300;
  font-size: 25px;
}

h2 {
  font-weight: 300;
  font-size: 20px;
}

span {
  font-weight: 300;
  font-size: 16px;
}

a {
  color: brown;
}

.cardTitle {
  font-size: 20px;
  font-weight: 300;
}

.notFavorite {
  color: lightgray;
}

.notFavorite.isFavorite {
  color: brown;
}

.searchAutocomplete {
  width: 500px;
}
