h1 {
  font-weight: 300;
  font-size: 25px;
}

h2 {
  font-weight: 300;
  font-size: 20px;
}

span {
  font-weight: 300;
  font-size: 16px;
}

a {
  color: DarkOliveGreen;
}

span:focus {
    outline: none;
    border: 0;
}

button:focus {
    outline: none;
    border: 0;
 }

.mainImage {
  height: 220px;
  display:flex;
  justify-content:center;
  align-items:flex-end;
}

.imgMain {
  width: auto;
  max-width: 220px;
  height: auto;
  max-height: 170px;
}

.imgNav {
  width: auto;
  max-width: 75px;
  height: auto;
  max-height: 57px;
}

.navBar {
  background-color: whitesmoke;
  font-weight: lighter;
}

.categoriesDisplay {
  float: left;
  font-weight:300;
  font-size: larger;
}

.instantSearchInput {
  width: 500px;
  padding-left: 30px;
}

.navTitle {
  padding-left: 10px;
  font-weight: bold;
}

.recipeBox {
  width: 300px;
  font-size: 12px;
}

.groupBox {
  width: 100%;
  font-size: 12px;
}

.cardTitle {
  font-size: 20px;
  font-weight: 300;
}

.notFavorite {
  color: lightgray;
}

.isFavorite {
  color: #a0541e;
}

.searchAutocomplete {
  width: 80%;
}

.recipeSharing {
  margin: 16px;
}

.recipeSharing #vertical-container {
  height: 292px;
  width: 280px;
}

.recipeSharing .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  padding-top: 10px;
}

.recipeSharing md-virtual-repeat-container {
  /*border: solid 1px grey;*/
}

.recipeSharing .md-virtual-repeat-container .md-virtual-repeat-offsetter {
  padding-left: 16px;
}

.md-title {
  color: black;
  text-align: center;
}

.prep-input {
  width: 100%;
}

.ingredient-input {
  width: 100%;
}

.imageDiv {
  padding-top: 30px;
  text-align:center;
}

.recipeDivContainer {
  text-align:center;
}

.imgInRecipe {
  width: 80%;
  padding-bottom: 20px;
  height: auto;
}

.listsInRecipe {
  list-style: none;
}

.listItems {
  color: rgba(0,0,0,0.54);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.010em;
  margin: 0 0 0 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
