<!-- NAVIGATION BAR INCLUDED -->
<div ng-include="'views/partials/nav.html'"></div>

<div layout="row">
  <div layout-md="column" flex="20"></div>
  <div layout="column" flex="60">
    <form name="addRecipeForm">

      <!-- RECIPE NAME -->
      <md-input-container layout="column">
        <div>
          <label for="title">Recipe name:</label>
          <input type="text" ng-model="title" required/>
          <div ng-messages="addRecipeForm.title.$error">
            <div ng-message="required">A recipe name is required!</div>
          </div>
        </div>
      </md-input-container>

      <!-- INGREDIENTS LIST -->
      <md-input-container layout="row">
        <div>
          <span>INGREDIENTS </span>
          <md-button class="md-icon-button addNewBtn" aria-label="Add Ingredient" ng-click="addNewIngredient()">+</md-button>
        </div>
      </md-input-container>
      <div  data-ng-repeat="ingredient in ingredientsArray" layout="row">
        <md-input-container layout="row" class="ingredient-input">
          <input type="text" ng-model="ingredient.name" aria-label="Ingredient">
          <md-button class="md-icon-button" ng-click="removeIngredient(ingredient)">-</md-button>
        </md-input-container>
      </div>

      <!-- PREPARATION STEPS -->
      <md-input-container layout="row">
        <div>
          <span>PREPARATION </span>
          <md-button class="md-icon-button addNewBtn" aria-label="Add Preparation Step" ng-click="addNewStep()">+</md-button>
        </div>
      </md-input-container>
      <div  data-ng-repeat="step in stepsArray" layout="row" layout-align="stretch">
        <md-input-container layout="row" class="prep-input">
          <textarea type="text" name="step" ng-model="step.name" aria-label="Step" ng-maxlength="150" md-no-resize="true"></textarea>
          <md-button class="md-icon-button" ng-click="removeStep(step)">-</md-button>
        </md-input-container>
      </div>


      <!-- CATEGORIES -->
      <br>
      <span>CATEGORIES </span>
      <div class="categoriesContainer">
        <md-chips ng-model="categoryOptions" readonly="ctrl.readonly" md-removable="ctrl.removable"></md-chips>
      </div>

      <!-- PICTURE UPLOAD FORM-->
      <br>
      <br>
      <span>RECIPE PICTURE </span>
      <div class="pictureUploadContainer">
        <input type="file" ngf-select ng-model="picFile" name="file"
               accept="image/*" ngf-max-size="2MB"
               ngf-model-invalid="errorFile" aria-label="File Upload">
         <i ng-show="addRecipeForm.file.$error.required">*required</i><br>
         <i ng-show="addRecipeForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
      </div>
      <div class="imageDiv">
        <img ng-show="file.$valid" ngf-thumbnail="picFile" class="thumb">
      </div>
      <md-button ng-click="picFile = null" ng-show="picFile">Remove</md-button>
      <md-button ng-show="picFile" ng-click="uploadPic(picFile)">Upload</md-button>

      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
      <br>


      <!-- SUBMIT AND CANCEL BUTTONS -->
      <md-input-container layout="column">
        <div>
          <md-button class="md-raised" aria-label="Cancel" value="Cancel" ng-click="redirect('/user')">Cancel</md-button>
          <md-button class="md-raised" aria-label="Add Recipe" value="Add Recipe" ng-click="addRecipe(recipe)">Add Recipe</md-button>
        </div>
      </md-input-container>
    </form>
  </div>
</div>
