<!-- NAVIGATION BAR INCLUDED -->
<div ng-include="'views/partials/nav.html'"></div>

<!-- MENU OPTION FOR THIS VIEW IS EDIT RECIPE -->
<div>
  <md-menu-bar>
    <md-content>
      <button class="md-raised" aria-label="Edit Recipe" value="Edit Recipe" ng-click="editRecipe(recipe)">Edit Recipe</button>
      <button class="md-raised" aria-label="Share Recipe" value="Share Recipe" ng-click="shareRecipe($event,recipe)">Share Recipe</button>
    </md-content>
  </md-menu-bar>
</div>

<!-- EDIT RECIPE SECTION -->
<div layout="row">
  <div layout-md="column" flex="20"></div>
  <div layout="column" flex="60">

    <!-- RECIPE NAME -->
    <h1>{{recipe.title}} </h1>

    <!-- RECIPE PHOTO -->
    <div class="recipeDivContainer">
      <img class="imgInRecipe" src={{recipe.image_url}} alt="">
    </div>

    <!-- INGREDIENTS LIST -->
    <span>INGREDIENTS </span>
    <ul class="listsInRecipe">
      <li class="listItems listsInRecipe" ng-repeat="ingredient in recipe.ingredients track by $index">
        {{ingredient}}
      </li>
    </ul>

    <!-- PREPARATION STEPS -->
    <span>PREPARATION </span>
    <ol>
      <li class="listItems" ng-repeat="step in recipe.steps track by $index">
        <p>{{step}}</p>
      </li>
    </ol>

    <!-- CATEGORIES -->
    <span>CATEGORIES </span>
    <br>
    <md-chips ng-model="recipe.categories" readonly="true" md-removable="false"></md-chips>
  </div>
</div>
